<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/favicon.ico" rel="icon">

    <link href="/normalize/normalize.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href="/style.css" rel="stylesheet">
    <title>Process mining accelerator</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <img alt="IBM" class="d-block mx-auto mb-4" height="72"
             src="/assets/img/processmining.png"
             width="72">
        <h2>Configuration form</h2>
        <p class="lead">Below is the form to configure process mining project.</p>
    </div>
    <div th:class="${classAlert}"
         role="alert" th:style="${displayMessage}" ><span th:text="${message}"></span></div>


    <div class="container">
        <div id="app">
            <step-navigation :currentstep=2 :steps="steps"></step-navigation>
            <form method="post" th:object="${connectionRequest}" th:action="@{/testConnection}"  enctype="multipart/form-data">
            <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">Filenet server</h4>
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label for="username">UserName</label>
                                <input class="form-control" id="username" placeholder="admin" th:field="${connectionRequest.getBAWContentServer.user}" required type="text" >
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" placeholder="*******" th:field="${connectionRequest.getBAWContentServer.password}" th:value="${connectionRequest.getBAWContentServer.password}" required type="text">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <label for="hostname">Hostname <span class="text-muted">(ip/hostname)</span></label>
                                <input class="form-control" id="hostname" placeholder="filenet server" th:field="${connectionRequest.getBAWContentServer.server}" required
                                       type="text">
                                <div class="invalid-feedback">
                                    Please enter a valid hostname or IP address for target object store updates.
                                </div>
                            </div>
                        </div>
                        <div class="row " style="padding-top: 20px">
                            <div class="col-md-6 mb-3">
                                <label for="objectStore">Repository</span></label>
                                <input class="form-control" id="objectStore" placeholder="TOS" th:field="${connectionRequest.getBAWContentServer.repository}" required
                                       type="text">
                                <div class="invalid-feedback">
                                    Please enter a valid Object Store / repository
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="port">Port</span></label>
                                <input class="form-control" id="port" placeholder="9080" th:field="${connectionRequest.getBAWContentServer.port}" required
                                       type="text">
                                <div class="invalid-feedback">
                                    Port
                                </div>
                            </div>
                        </div>

                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <button type="submit" class="btn btn-primary" ><i class="fa fa-arrow-right" style="padding-right: 5px"></i> Next Step</button>
                    </div>
                </div>
            </form>
            <step :currentstep="currentstep" :key="step.id" :step="step" :stepcount="steps.length"
                  @step-change="stepChanged"
                  v-for="step in steps">
            </step>

            <script id="step-navigation-template" type="x-template">
                <ol class="step-indicator">
                    <li v-for="step in steps" is="step-navigation-step" :key="step.id" :step="step"
                        :currentstep="currentstep">
                    </li>
                </ol>
            </script>

            <script id="step-navigation-step-template" type="x-template">
                <li :class="indicatorclass">
                    <div class="step"><i :class="step.icon_class"></i></div>
                    <div class="caption hidden-xs hidden-sm">Step <span v-text="step.id"></span>: <span
                            v-text="step.title"></span></div>
                </li>
            </script>

            
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <div class="row" style="margin-bottom: 20px; margin-top: 20px">
            <div class="col-md-12 " style="margin-top: 10px">
                <a class="btn btn-success text-white" href="/" role="button">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </div>
        </div>
        <p class="mb-1">&copy; 2022-2023 IBM</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='/vue/2.4.4/vue.js'></script>
<script src="/configScript.js"></script>
<script src="/toolsScript.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/vendor/holder.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
